
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 40px;
}





.skeleton-list {
  height: calc(100% - 130px);
  margin-top: 30px;

  svg {
    margin-bottom: 15px;
  }
}

@keyframes success-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}