@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
li,
p {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #dfe2ff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}